
@import "reset";

// BREAKPOINT MIXIN

$small: 768px;
$medium: 1024px;
$large: 1200px;

@mixin media($class) {
    @if $class==sm {
        @media (min-width: $small) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: $medium) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: $large) {
            @content;
        }
    }
}



////////////////////////////////////
// BASE STYLES
////////////////////////////////////

//color variables

$color-orange: #f17231;
$color-over: #00c5d7;
$color-grey: #888888;
$color-text: black;


body {
    line-height: 1.5;
    letter-spacing: .2px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

a {
    cursor: pointer;
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: 300;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

h4 {
    line-height: .3;
    font-size: 1.3em;
    font-weight: 300;
}

h5 {
    line-height: 1.2;
    font-size: 1.1em;
    font-weight: 300;
}

h6 {
    line-height: 1.2;
    font-size: 1em;
    font-weight: 300;
}

////////////////////////////////////
// layout styles
////////////////////////////////////





.intro-statement {
    padding: 30PX 0;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.hero {
    overflow: hidden;
    position: relative;
    .hero__overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }
}

.hero__slick {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    height: 700px;
    div:nth-child(1) {
        width: 100%;
        height: 700px;
        background-image: url('../images/hero1.jpg');
        background-position: center;
        background-size: cover;
    }
    div:nth-child(2) {
        width: 100%;
        height: 700px;
        background-image: url('../images/hero2.jpg');
        background-position: center;
        background-size: cover;
    }
    div:nth-child(3) {
        width: 100%;
        height: 700px;
        background-image: url('../images/hero3.jpg');
        background-position: center;
        background-size: cover;
    }
}


